<html>
    <head>
        <title>My Blogs </title>
         <%- include('./partials/style.ejs')%>
    </head>
    <body>
         <%- include('./partials/topbar.ejs')%>

         <a class="add-button" href="/addblog">Add blog +</a>

          <% if(message) {%>
                <p><%= message %></p>
                <% } %>

         <%
         if(blogData.length>0){
            for(let i=0;i<blogData.length;i++){
         
         %>
         <div class="blog-card">
            <div class="blog-title"><%= blogData[i].title %></div>
            <div class="blog-body"><%= blogData[i].body %></div>
            <div class="blog-actions">
                <a class="edit-button" href="/editblog?blogId=<%= blogData[i]._id %>" >Edit</a>
                <a class="delete-button" href="/deleteblog?blogId=<%= blogData[i]._id %>">Delete</a>
            </div>
         </div>
         <% } } %>
        
    </body>
</html>